Repository techdarko/homeassistant-gtfs-realtime: changes, and which pre-commit hooks are due for each by the changed paths.
All: check_version, hassfest

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.3.0
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=hass,alot,datas,dof,dur,farenheit,hist,iff,ines,ist,lightsensor,mut,nd,pres,referer,ser,serie,te,technik,ue,uint,visability,wan,wanna,withing
          - --skip="./.*,*.csv,*.json"
          - --quiet-level=2
        exclude_types: [csv, json]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.8
    hooks:
      - id: bandit
        args:
          - --quiet
          - --format=custom
          - --configfile=tests/bandit.yaml
        files: ^(custom_components|script|tests)/.+\.py$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.8.4
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
        stages: [manual]
      - id: check-json
      - id: check-yaml
        exclude: ^example/frontend.yaml
      - id: pretty-format-json
        args: 
          - --autofix
          - --top-keys=domain,title,name
  - repo: https://github.com/python-poetry/poetry
    rev: '1.8.5'
    hooks:
      -   id: poetry-check
      -   id: poetry-lock
  - repo: local
    hooks:
      - id: check_version
        name: check_version
        language: system
        entry: python hooks/check_version.py
        files: ^(custom_components/.+/manifest\.json|pyproject.\toml|poetry\.lock)$
      - id: hassfest
        name: hassfest
        language: script
        entry: hooks/hassfest.sh
        files: ^(custom_components/.+/(icons|manifest|strings)\.json|custom_components/.+/translations/.+\.json|custom_components/.+/(quality_scale)\.yaml|custom_components/brands/.*\.json|custom_components/.+/services\.yaml|script/hassfest/(?!metadata|mypy_config).+\.py|requirements.+\.txt)$

fixed feed url
  custom_components/gtfs_realtime/const.py
  custom_components/gtfs_realtime/manifest.json
  poetry.lock
  pyproject.toml
  tests/test_config_flow.py
Due: check_version, hassfest

updated feed handling, general code cleanup
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .python-version
  custom_components/gtfs_realtime/button.py
  custom_components/gtfs_realtime/config_flow.py
  custom_components/gtfs_realtime/const.py
  custom_components/gtfs_realtime/feeds.json
  custom_components/gtfs_realtime/helpers.py
  custom_components/gtfs_realtime/manifest.json
  custom_components/gtfs_realtime/translations/en.json
  hooks/check_version.py
  poetry.lock
  pyproject.toml
  template/.python-container.yml
  tests/conftest.py
  tests/test_config_flow.py
  uv.lock
Due: check_version, hassfest

update readme
  .gitignore
  .gitlab-ci.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  README.md
  coverage.svg
  custom_components/gtfs_realtime/manifest.json
  custom_components/gtfs_realtime/translations/en.json
  hooks/runtests.sh
  pyproject.toml
  uv.lock
Due: check_version, hassfest

updated underlying dependency
  .gitlab-ci.yml
  .python-version
  pyproject.toml
  uv.lock
Due: none

Ci to GitHub actions (#4)
  .github/workflows/test.yaml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  custom_components/gtfs_realtime/config_flow.py
  custom_components/gtfs_realtime/const.py
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  tests/test_config_flow.py
  uv.lock
Due: check_version, hassfest

pre-commit autoupdate (#5)
  .pre-commit-config.yaml
Due: none

update-dependencies (#6)
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

Add MTA MARC Train to feed list (#9)
  custom_components/gtfs_realtime/feeds.json
Due: none

updated gtfs-station-stop (#11)
  .github/workflows/hassfest.yaml
  .github/workflows/test.yaml
  .github/workflows/validate.yaml
  .gitlab-ci.yml
  README.md
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  resources/sample.png
  uv.lock
Due: check_version, hassfest

Nyc ferry icons (#13)
  custom_components/gtfs_realtime/__init__.py
  custom_components/gtfs_realtime/coordinator.py
  custom_components/gtfs_realtime/feeds.json
  custom_components/gtfs_realtime/sensor.py
  resources/NYC_Ferry/AS.png
  resources/NYC_Ferry/ER.png
  resources/NYC_Ferry/GI.png
  resources/NYC_Ferry/RES.png
  resources/NYC_Ferry/RW.png
  resources/NYC_Ferry/RWS.png
  resources/NYC_Ferry/SB.png
  resources/NYC_Ferry/SG.png
  resources/NYC_Ferry/SV.png
  tests/test_sensor.py
Due: none

updated version (#14)
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

Use GTFS Station Stop compatible with nested feeds (#15)
  .github/workflows/feed_compatibility.yaml
  .github/workflows/hacs.yaml
  .github/workflows/hassfest.yaml
  .pre-commit-config.yaml
  .vscode/launch.json
  README.md
  coverage.svg
  custom_components/gtfs_realtime/config_flow.py
  custom_components/gtfs_realtime/feeds.json
  custom_components/gtfs_realtime/manifest.json
  hooks/check_feed_compatibility.py
  hooks/check_version.py
  pyproject.toml
  template/.python-container.yml
  uv.lock
Due: check_version, hassfest

Added feeds for Connecticut and Denver (#16)
  custom_components/gtfs_realtime/feeds.json
Due: none

added contributions guide (#17)
  .github/CONTRIBUTING.md
  .github/workflows/feed_compatibility.yaml
Due: none

Add Houston and Adelaide Feeds (#19)
  .github/workflows/feed_compatibility.yaml
  custom_components/gtfs_realtime/feeds.json
  custom_components/gtfs_realtime/translations/en.json
Due: hassfest

Update issue templates (#21)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feed-request-template.md
Due: none

Create SECURITY.md (#22)
  SECURITY.md
Due: none

added LA Metro feeds (#24)
  .github/workflows/feed_compatibility.yaml
  custom_components/gtfs_realtime/feeds.json
Due: none

updated dependencies (#27)
  .github/workflows/feed_compatibility.yaml
  .github/workflows/test.yaml
  .pre-commit-config.yaml
  README.md
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

added Exo Quebec feeds (#29)
  .github/workflows/feed_compatibility.yaml
  custom_components/gtfs_realtime/feeds.json
Due: none

allow use of delay-based GTFS-RT updates with stop_times.txt (#31)
  custom_components/gtfs_realtime/coordinator.py
  custom_components/gtfs_realtime/manifest.json
  custom_components/gtfs_realtime/sensor.py
  hooks/check_feed_compatibility.py
  pyproject.toml
  tests/snapshots/test_diagnostics.ambr
  tests/test_sensor.py
  uv.lock
Due: check_version, hassfest

Hotfix missing stop times (#32)
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

Pooled sessions (#33)
  .gitignore
  custom_components/gtfs_realtime/coordinator.py
  custom_components/gtfs_realtime/sensor.py
  pyproject.toml
  tests/test_sensor.py
  uv.lock
Due: none

Gtfs station stop 0.10.2 (#34)
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
  uv.lock
Due: check_version, hassfest

[nit] Spelling correction in feeds.json
  custom_components/gtfs_realtime/feeds.json
Due: none

Add icons for BART (Separate IDs returned for North and South lines resulting in duplicate files)
  resources/BART/Blue-N.svg
  resources/BART/Blue-S.svg
  resources/BART/Green-N.svg
  resources/BART/Green-S.svg
  resources/BART/Grey-N.svg
  resources/BART/Grey-S.svg
  resources/BART/Orange-N.svg
  resources/BART/Orange-S.svg
  resources/BART/Red-N.svg
  resources/BART/Red-S.svg
  resources/BART/Yellow-N.svg
  resources/BART/Yellow-S.svg
Due: none

[nit] Spelling correction in feeds.json (#37)
  custom_components/gtfs_realtime/feeds.json
Due: none

update TFV feed (#39)
  custom_components/gtfs_realtime/feeds.json
Due: none

update TFV to OpenData (#40)
  custom_components/gtfs_realtime/feeds.json
Due: none

Filter stale arrivals (#42)
  custom_components/gtfs_realtime/sensor.py
  tests/test_sensor.py
Due: none

Update .gitignore
  .gitignore
Due: none

Feed icons from dev branch
  custom_components/gtfs_realtime/feeds.json
  custom_components/gtfs_realtime/manifest.json
Due: check_version, hassfest

[dev] update feed tp dev
  custom_components/gtfs_realtime/const.py
  custom_components/gtfs_realtime/manifest.json
Due: check_version, hassfest

[temp] bump version
  custom_components/gtfs_realtime/manifest.json
  pyproject.toml
Due: check_version, hassfest

Add new BART feed supporting route display
  custom_components/gtfs_realtime/feeds.json
Due: none

Update feeds.json
  custom_components/gtfs_realtime/feeds.json
Due: none
